/* INICIO DO HEADER */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

body {
    background: linear-gradient(to bottom, #01010A 60%, #0b1250 75%, #575fa3 100%);
}

.logo {
    width: 65px;
    display: flex;
    margin-left: 80px;
    user-select: none;
}

.blur {
    background-color: #010413;
    width: 100%;
    height: 50px;
    filter: blur(200px);
}

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #0b1250;
    color: #ffffff;
    
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    flex-wrap: wrap;
    list-style: none;
    margin: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

/* FIM DO HEADER */


/* INICIO DA SECTION */

section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px 0;
}

section:nth-child(odd) {
    flex-direction: row-reverse; 
}



.text {
    width: 1000px;
    padding: 20px;
    color: white;
}

.image {
    padding: 20px;
}

.image img {
    max-width: 500px;
    max-height: 250px; /* Define a altura máxima */
    min-width: 500px;
    min-height: 250px;
    width: auto;
    height: auto;
    object-fit: cover;
}

.sections {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FINAL DA SECTION */



/* .box {
    background-color: #2638d6;
    color: white;
    border-radius: 5px;
    border: 1px solid #12195c;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* INICIO */

.inicio {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/pexels-ninasimek-13002747.jpg);
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.box-inicial {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.inicio h1 {
    font-size: 50px;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(rgb(180, 213, 223), rgb(28, 40, 51));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inicio p {
    font-size: 20px;
}


.footer {
    background-color: #1A1C2B;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

.footer p {
    margin: 0;
    color: #b0b0b0;
}

.footer a {
    color: #6AA6F8;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* responsivo */

@media (max-width: 500px ) {

section{
    display: flex;
    flex-direction: column;
}

.sections {
    display: flex;
    flex-direction: column;
}

}